*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page{
  display: flex;

}

.content{
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  width: 1140px;
}

.content{
 display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.content__details{
  flex-grow: 1;
}

.title{
color: #FFF;
font-family: Oswald,sans-serif;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%;
text-transform: uppercase;
margin-bottom: 26px;
}

.content__accent{
  color: #545050;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase; 
}

.content__list{ 
 position: relative;
 display: grid;
 gap: 30px;
 height: 298px;
 overflow-y: auto;
 /* overflow-x: hidden; */
  
}

.content__list-item:not(:last-child){
  gap: 30px;
}

.content__card-link{
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active{
  background-color: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover{
  text-decoration: underline;
  color: #FFF;
  text-underline-position: under;
}

.content__card-link:focus{
  outline: 0;
}

.content__card-link:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.content__video-card-title{
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description{
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description-container{
  flex-grow: 1;

}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.more-button{
width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  padding: 6px 73.5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}


.result{
  display: flex;
  flex-direction: column;
  justify-content: end;
 
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container{
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: start;

}

.search-form__submit-button{
  align-self: end;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 228px;
  border-top: 1px solid #fff;
  border-right: 0;
  border-bottom: 1px solid #fff;
  border-left: 0;
  padding: 2.5px 14px 2.5px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убираю из поля зрения, сдвинув на размер самого себя */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  clip: rect(0 0 0 0); /* это свойство образает видимую область до нулевого значения */
}




